.Section {
  width: full;
  /* background-color: black; */
  padding-bottom: 10px;
}

.Profile {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 30px;
  line-height: normal;
  font-size: larger;
}

.Profile h3 {
  margin-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.Profile dt {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: larger;
}
.Profile dd {
  margin-bottom: 10px;
  margin-left: 50px;
  padding-bottom: 15px;
}

.Education {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
  line-height: normal;
  font-size: larger;
}

.Education h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.Education td {
  margin-bottom: 50px;
  padding-bottom: 10px;
}
